/*  your css code here. If applicable */

:root{
	background-color:rgb(135,206,235);
}

#first{
	color:white;
	background-color:black;
	padding:0;
	margin-top:0;
}
#third{
	color:red;
}
#f{
	background-color:white;
	width:50%;
}
#s{
	background-color:gray;
	width:50%;
}
#t{
	background-color:lightpink;
	width:50%;
}
#fo{
	background-color:gray;
	width:50%;
}
#ff{
	background-color:white;
	width:50%;
}